* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

article {
  width: 210mm;
  height: 232mm;
  margin: 20px auto;
  position: relative;
  background-image: linear-gradient(to bottom, #ccc, white);
  border-top: 0.2em solid red ;
  border-bottom: 0.2em solid red ;
  
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 2px 2px 2px black;
  background-image: url(../images/logo.png)
}

/* Your CSS below here */
.top {
  position: absolute;
}
.bottom {
  position: absolute;
  bottom: 0;
}
img {
  max-width: 100%;
}
